<?xml version="1.0" encoding="utf-8" ?>

<!-- Leave "invariant" value below set to "System.Data.SqlServerCe.3.5". -->
<!-- Even though we use now SQL CE 4.0, System.Data.Linq from .NET 4.0 looks up the provider using this magic string. -->

<configuration>
  <system.data>
    <DbProviderFactories>
      <add name="Microsoft SQL Server Compact Data Provider" 
           invariant="System.Data.SqlServerCe.3.5" 
           description=".NET Framework Data Provider for Microsoft SQL Server Compact" 
           type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe"/>
    </DbProviderFactories>
  </system.data>
</configuration>