<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.SharpZipLib.dll" version="0.85.4.369" targetFramework="net40" />
  <package id="LiteDB" version="4.1.4" targetFramework="net40" />
  <package id="log4net" version="2.0.10" targetFramework="net40" />
  <package id="NAudio" version="1.8.4" targetFramework="net40" />
  <package id="NAudio.Lame" version="1.0.7" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net40" />
  <package id="taglib" version="2.1.0.0" targetFramework="net40" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net40" />
</packages>